@font-face {
  font-family: 'ALS-Gorizont';
  src: url('../public//fonts/als-gorizont-variable.ttf');
}

:root {
  --background-timer-color: #1a1f23;
  --background-btn-pause-resume-color: #f9891c;
  --background-btn-cancel-color: #757677;
  --background-bnt-start: #29a354;
  --background-progressBar-color: #29a354;
  --text-bnt-color: #ffffff;
  --text-timer-color: #ffffff;
  --text-input-color: #ffffff;
  --font-basic: 'ALS-Gorizont', sans-serif;
  --font-edit-color: #29a354;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
