.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_timers {
  width: 390px;
  height: 422px;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: var(--background-timer-color);
  color: var(--text-timer-color);
  font-family: var(--font-main);
  font-weight: 800;
  overflow: auto;
}

.timers_title {
  display: flex;
  justify-content: start;
  width: 90%;
  font-family: var(--font-main);
  font-weight: 800;
  font-size: 24px;
  margin: 15px 0 10px 0;
}

.timer_plus {
  width: 20px;
  height: 35px;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn_timer_edit {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  font-weight: 800;
  font-size: 14px;
  color: var(--font-edit-color);
  text-decoration: underline;
}

.container_timers_head {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
